@media screen and (min-width:568px) {

    .sidebar {
        width: 250px;
    }

    .logo-l {
        display: block;
        width: 160px;
        margin-bottom: 1rem;
    }

    .logo-s {
        display: none;
    }

    .container-sb-center {
        display: inline-block;
    }

    .container-sb-center ul>*,
    .container-sb-center>* {
        padding-bottom: 1rem;
    }

    .p-media-x {
        padding: 1rem 2rem 1rem 2rem;
    }

    .flex-s {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: .5rem;
    }

    .dsp-inlblock {
        display: inline-block;
    }

    .p-info-song {
        padding-right: 1rem;
    }

}

@media screen and (min-width:768px) {

    .col-m-1_4 {
        flex-basis: calc(100% / 4);
    }

    .p-info-song {
        padding-right: 2rem;
    }

    .flex-m {
        display: flex;
    }

    .flex-m>* {
        padding-right: .5rem;
    }

    .scroll-time-m {
        width: 250px;
        border: 1px solid grey;
        height: .3rem;
        border-radius: 20px;
    }

    .scroll-audio-m{
        width: 90px;
        border: 1px solid grey;
        height: .3rem;
        border-radius: 20px;
    }
}

@media screen and (min-width:992px) {
    .col-l-1_6 {
        flex-basis: calc(100% / 6);
    }

    .scroll-time-l {
        width: 450px;
        border: 1px solid grey;
        height: .3rem;
        border-radius: 20px;
    }
}

@media screen and (min-height:350px) {}