@media screen and (min-width:568px) {

    .sidebar {
        width: 250px;
    }

    .logo-l {
        display: block;
        width: 160px;
        margin-bottom: 1rem;
    }

    .logo-s {
        display: none;
    }

    .container-sb-center {
        display: inline-block;
    }

    .container-sb-center ul>*,
    .container-sb-center>* {
        padding-bottom: 1rem;
    }

    .p-media-x {
        padding: 1rem 2rem 1rem 2rem;
    }

    .flex {
        display: flex;
        align-items: center;
        padding-bottom: .5rem;
    }

    .dsp-inlblock {
        display: inline-block;
    }

}

@media screen and (min-width:768px) {}

@media screen and (min-width:992px) {}

@media screen and (min-height:350px) {}