:root {
    --color-primary: #717171;
    --color-secondary: #141922;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

li a img {
    width: 30px;
    margin-bottom: .5rem;
}

section>*{
    padding-bottom: 1.5rem;
}

.card>*{
    padding-bottom: .5rem;
}

/*---------------- CLASSI UTILITY */
.p-y-1_5 {
    padding: 1.5rem 0;
}

.fx-sh {
    flex-shrink: 0;
}

.fx-g {
    flex-grow: 1;
    overflow: auto;
}

.white {
    color: white;
}

.grey {
    color: var(--color-primary);
}

.m-rx-0_5 {
    margin-right: .5rem;
}

.m-rx-1 {
    margin-right: 1rem;
}

.m-rx-1_5 {
    margin-right: 1.5rem;
}

.dsp-none {
    display: none;
}

.size-play {
    font-size: 30px;
}

/* ---------------------------------------------- */

.container-top {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 50px;
    flex-shrink: 1;
    background-color: black;
    color: var(--color-primary);
    padding: 0.5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.img-profile {
    border-radius: 100%;
    background: gray;
    aspect-ratio: 1/1;
    margin-bottom: 0;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.logo-s {
    margin-bottom: 1rem;
}

.upgrade-container {
    background-color: #080B12;
    text-align: end;
    padding-right: 20px;
}

.content-container {
    background-color: var(--color-secondary);
    padding: 1rem;
}

.container-bottom {
    background-color: #282828;
}

.more-icon {
    font-weight: bolder;
    font-size: 1.5rem;
    border: 1px solid;
    background-color: gray;
    color: black;
    padding: 10px;
    margin-right: .5rem;
}

.img-download {
    width: 20px;
    margin-bottom: 0;
    margin-right: 1rem;
    color: var(--color-primary);
}

.border {
    border: 1px solid;
    width: 100%;
}

.btn-upgrade {
    background-color: var(--color-secondary);
    border-radius: 50px;
    padding: .5rem 2rem;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.center-content {
    justify-content: center;
}

.content-container .row>* {
    padding-right: .5rem;
    padding-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-xs-1_2 {
    flex-basis: 50%;
}

.img-radius {
    border-radius: 100%;
}

.sidebar-btm {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.img-sb-btm {
    width: 30px;
}

.scroll-time {
    width: 130px;
    border: 1px solid grey;
    height: .3rem;
    border-radius: 20px;
}

.sidebar-btm .row>*,
.row .row-player>* {
    padding-right: .3rem;
}

.row-player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-audio {
    width: 50px;
    border: 1px solid grey;
    height: .3rem;
    border-radius: 20px;
}

.sz-ico-audio {
    font-size: 13px;
}

.scroll-advancement-audio {
    width: 20px;
    border: 1px solid white;
    height: rem;
    border-radius: 1px;
}

.scroll-advancement-time {
    width: 20%;
    border: 1px solid white;
    height: rem;
    border-radius: 1px;
}

.border-green {
    border: 1px solid greenyellow;
    width: 35px;
    margin: auto;
}

.center-content li a:hover,
.sidebar-center li a:hover {
    color: white;

}

.sidebar-center li a i:hover {
    background-color: white;
}

.fa-heart:hover,
.fa-folder:hover {
    color: white
}

.fa-circle-play:hover {
    font-size: 40px;
}

.btn-upgrade:hover {
    font-size: 1rem;
}

.sidebar-bottom li a:hover>*,
.sidebar-top li a:hover>* {
    color: white;
}

.position-rel {
    position: relative;
}

.img-hover {
    visibility: hidden;
    position: absolute;
    top: 0;
    padding: 0 auto;
    left: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.card:hover .img-hover {
    visibility: visible;
}

.sidebar-top li a:hover .icon-visibility {
    display: none;
}

.sidebar-top li a:hover img.dsp-none {
    display: block;
}

.scroll-audio:hover .scroll-advancement-audio,
.scroll-time:hover .scroll-advancement-time {
    border: 1px solid greenyellow;
}

.icon-circle {
    font-size: 13px;
    position: absolute;
}

.time-icon {
    top: -6px;
    left: 22px;
}

.scroll-time:hover .scroll-advancement-time>*,
.scroll-audio:hover .scroll-advancement-audio>* {
    display: block;
}

.audio-icon{
    color: white;
    top: -3px;
    right: 21px;
    font-size: 10px;
}

