:root {
    --color-primary: #717171;
    --color-secondary: #141922;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    display: block;
    object-fit: contain;
}

li {
    list-style: none;
}

li a img{
    width: 30px;
    margin-bottom: .5rem;
}

.container-top {
    flex-grow: 1;
    display: flex;
}

.container-bottom {
    flex-shrink: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 50px;
    flex-shrink: 1;
    background-color: black;
    color: var(--color-primary);
    padding: 0.5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.fx-sh{
    flex-shrink: 0;
}

.fx-g{
    flex-grow: 1;
}

.upgrade-container {
    flex-shrink: 1;
}

.content-container {
    flex-grow: 1;
}


.img-profile {
    border-radius: 100%;
    background: gray;
    aspect-ratio: 1/1;
    margin-bottom: 0;
}

.logo-s{
    margin-bottom: 1rem;
}

.logo-l{
    display: none;
}


.upgrade-container{
    background-color: #080B12;
}

.content-container{
    background-color: var(--color-secondary);
}

.container-bottom{
    background-color: #282828;
}